<h1>Post Here!</h1>

<form action="/gwall/post" method="post">
  <div class="form-group">
    <label for="username">User Name</label>
    <input type="text" name="username" value="" placeholder="NAME"> <br>

  </div>
  <div class="form-group">
    <label for="image">Image Url</label>
    <input type="text" name="image" value="" placeholder="image url"><br>

  </div>
  <div class="form-group">
    <label for="rant">Content</label> <br>
    <textarea name="rant" rows="8" cols="40" placeholder="SUH UM TEXT"></textarea>
  </div>

  <button type="submit" class="btn btn-default">POST YOUR SUH!</button>
</form>

<h2><a href="/gwall">Go Back</a></h2>
